bin/Debug/netstandard2.0/MarriageTipOfTheDay.deps.json
bin/Debug/netstandard2.0/MarriageTipOfTheDay.dll
bin/Debug/netstandard2.0/MarriageTipOfTheDay.pdb
obj/MarriageTipOfTheDay.csproj.nuget.dgspec.json
obj/MarriageTipOfTheDay.csproj.nuget.g.props
obj/MarriageTipOfTheDay.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Debug/netstandard2.0/MarriageTipOfTheDay.AssemblyInfo.cs
obj/Debug/netstandard2.0/MarriageTipOfTheDay.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/MarriageTipOfTheDay.assets.cache
obj/Debug/netstandard2.0/MarriageTipOfTheDay.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/MarriageTipOfTheDay.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/MarriageTipOfTheDay.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/MarriageTipOfTheDay.dll
obj/Debug/netstandard2.0/MarriageTipOfTheDay.pdb
